altgraph==0.17
beautifulsoup4==4.9.1
et-xmlfile==1.0.1
jdcal==1.4.1
macholib==1.14
openpyxl==3.0.5
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
selenium==3.141.0
soupsieve==2.0.1
urllib3==1.25.10
